body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
header {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
h1 {
    align-self: center;
    text-align: center;
    color: white;
    border-bottom: 10px solid orange;
}
main {
    padding-left: 40px;
    display: grid;
    min-height: 100vh;
    justify-content: center;
    
}
h2 {
    text-align: center;
}
.image-container {
    width: 70px;
    height: 70px;
    position: relative;
}
.product-image {
    position: absolute;
    width: 100%;
    height: 100%;
}
table {
    /* grid-auto-flow: row; */
}